/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

 /* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('/pinsonKatherine-asg11/fonts/karla-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inconsolata-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/pinsonKatherine-asg11/fonts/inconsolata-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
  background-image: repeating-conic-gradient(#363020, #605C4E);
  border-radius: 50%;
}

h1{
  font-family: 'Karla';
    font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
  color: #EAFFDA;
      text-align: left;
      padding: 10px;
}

p{
  font-family: 'Inconsolata';
  font-size: 1em;
  color: #EAFFDA;
      text-align: left;
       padding: 10px;
}

.Dodgeball-or-Death{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #A49966;
}

.Abaddon{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  background-color: #A49966;
}

.Raphael{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  background-color: #A49966;
}

.Alduin{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  background-color: #A49966;
}

.Mr-House{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  background-color: #A49966;
}

.The-Being{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  background-color: #A49966;
}

.Abaddon-picture {
      max-width: 600px;
      float: right;
}

.Raphael-picture {
      max-width: 600px;
       float: right;
}

.Alduin-picture {
      max-width: 600px;
       float: right;
}

.MrHouse-picture {
      max-width: 600px;
       float: right;
}

.TheBeing-picture {
      max-width: 600px;
       float: right;
}
