/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

 /* lustria-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  src: url('/asg8/fonts/lustria-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/asg8/fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {font-size: 16px;}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
  background-image: url('/asg8/images/coffeebeans.jpg')
}

h1, h3{
  font-family: 'Lustria', sans-serif;
  font-weight: 700;
  font-size: 3.05em;
  color: #82A6B1;
  background-color: #5B3000;
   margin-top: 0;
  padding: 20px;
  border: 5px dotted #66462C;
}

h2{
   font-family: 'Lustria', 'Times New Roman', serif;
   font-size: 2.44em;
   color: #76877D;
  background-color: #5B3000;
  padding: 20px;
  border: 5px dotted #66462C;
}

p{
font-family: 'Lato', sans-serif;
background-color: #5B3000;
font-size: 1em;
padding: 20px;
border: 5px dotted #66462C;
}

